<?xml version="1.0"?>
<!--
  ~
  ~ Copyright © Magento, Inc. All rights reserved.
  ~ See COPYING.txt for license details.
  ~
  ~ Created By: Thach The Dang.
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="catalog_product_save_after">
        <observer name="magenest_customizeAdmin_course_material_observer"
                  instance="Magenest\CustomizeAdmin\Observer\CourseMaterialObserver"/>
    </event>
</config>
